cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.1
cssselect2==0.2.2
defusedxml==0.6.0
fpdf2==2.0.3
html5lib==1.0.1
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.3
pandas==0.25.2
Pillow==9.0.1
psycopg2==2.8.3
pycparser==2.19
pydal==19.5.11
Pyphen==0.9.5
PySide2==5.13.0
python-dateutil==2.8.0
pytz==2019.3
shiboken2==5.13.0
six==1.12.0
tinycss2==1.0.2
WeasyPrint==50
webencodings==0.5.1
