@charset "UTF-8";
@page {
	margin: 1cm;
	font-size: 7pt;
	@top-left {
		font-family: Helvetica;
		font-size: 8pt;
	}
	@top-right {
		font-family: Helvetica;
		font-size: 8pt;
	}
	@bottom-left {
		color: black;
		font-family: Helvetica;
		font-size: 8pt;
	}
	@bottom-right {
		color: black;
		content: counter(page) ' / ' counter(pages);
		font-family: Helvetica;
		font-size: 8pt;
	}
}

html table {
    width: 100%;
	font-family: "Courier New", Courier, monospace;
	font-size: 7pt;
    border: 1px solid black;
}

html table th {
	border-bottom: .2mm;
	font-weight: bold;
	padding-bottom: .25cm;
	font-size: 7pt;
	text-transform: uppercase;

}

/*Lista zebrada*/
th {background: #fcfcfc}
tr:nth-child(even) {background: #fcfcfc}

html table td {
	padding-top: 1mm;
}

html table td:last-of-type {
	text-align: left;
}

html table th,
html table td {
	text-align: left;

}

html table th:first-of-type,
html table td:first-of-type {
	text-align: left;
}

html table th:last-of-type,
html table td:last-of-type {
	text-align: left;
}


