@charset "UTF-8";

@page {

   size: A4 landscape;
   margin: 1cm;
   font-size: 9pt;

  @top-left {
    font-family: Helvetica;
    content: 'VIP Cartuchos';
    font-size: 8pt;
  }

  @top-right {
    font-family: Helvetica;
    font-size: 8pt;
  }

  @bottom-left {
    color: black;
    font-family: Helvetica;
    content: 'SOAD';
    font-size: 8pt;
  }

  @bottom-right {
    color: black;
    content: counter(page);
    font-family: Helvetica;
    font-size: 8pt;
  }

}

html table {
    border-collapse: collapse;
    /*width: 100%;*/
    font-family: "Courier New", Courier, monospace;
    font-size: 7pt;
   }
    html table th {
      max-width: 100px;
      border-bottom: .2mm;
      font-weight: bold;
      padding-bottom: .25cm;
      font-size: 8pt;
      text-transform: uppercase; }
    html table td {
      padding-top: 1mm; }
      html table td:last-of-type {
        text-align: left; }
    html table th, html table td {
      text-align: left; }
      html table th:first-of-type, html table td:first-of-type {
        text-align: left; }
      html table th:last-of-type, html table td:last-of-type {
        text-align: left;
  }