@charset "UTF-8";
@page {
    margin: 0.5cm;
    font-size: 7pt;
    font-family: Verdana, Geneva, sans-serif;

    @top-left {
      font-size: 8pt;
    }
    @top-right {
      font-size: 8pt;
    }
    @bottom-left {
      font-size: 8pt;
    }
    @bottom-right {
      content: counter(page) ' / ' counter(pages);
      font-size: 8pt;
    }
}

/*Tabela*/
.dataframe {
	border: 1px solid black;
}

.tabela {
	padding-bottom: 30px;
    font-family: Arial;
    font-size: 10pt;
}

/*Cabecalho*/
#logoImg{
    width:150px ;
    height:110px;
}

.cabecalhoPedido {
    position: relative;
    padding: 5px;
    height: 5.6cm;
    border: 1px solid black;
    font-family: Arial;
}

.cabecalhoPedido .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    display: inline-block;
    text-align: left;
    padding: 5px;
}

.cabecalhoPedido .infoEmitente {
    position: absolute;
    top: 15px;
    left: 150px;
    width: 60%;
    display: inline-block;
    text-align: center;
}

.infoEmitente .adicionalEmitente {
    position: absolute;
    top: 90px;
    font-size: 9pt;
}

.cabecalhoPedido .infoPedido {
    position: absolute;
    left: 600px;
    width: 15%;
    display: inline-block;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.cabecalhoPedido .infoClienteFornecedor {
    position: absolute;
    top: 135px;
    left: 0px;
    width: 98.5%;
    padding: 5px;
    border: 1px solid black;
    font-size: 10pt;
}


/*Rodape*/

.rodapePedido {
    position: relative;
    font-family: Arial;
    padding: 5px;
    padding-bottom: 20px;
}

.rodapePedido .infoPagamento {
    position: relative;
    font-size: 12pt;
    text-align: left;
    width: 60%;
    display: inline-block;
}

.rodapePedido .infoTotais {
    position: relative;
    font-size: 14pt;
    width: 35%;
    text-align: right;
    display: inline-block;
}