@charset "UTF-8";
@page {
	margin: 1cm;
	font-size: 7pt;
	@top-left {
		font-family: Helvetica;
		font-size: 8pt;
	}
	@top-right {
		font-family: Helvetica;
		font-size: 8pt;
	}
	@bottom-left {
		color: black;
		font-family: Helvetica;
		font-size: 8pt;
	}
	@bottom-right {
		color: black;
		content: counter(page) ' / ' counter(pages);
		font-family: Helvetica;
		font-size: 8pt;
	}
}

.cabecalho {
    font-size: 12pt;
    text-align: center;
    font-family: Helvetica;
}

.tabela {
    width: 100%;
	font-family: "Courier New", Courier, monospace;
	font-size: 7pt;
    border: 1px solid black;
}

.tabela th {
    background: #fcfcfc;
	border-bottom: .2mm;
	font-weight: bold;
	padding-bottom: .25cm;
	font-size: 7pt;
	text-transform: uppercase;
	text-align: left;
}

.tabela td {
	padding-top: 1mm;
	text-align: left;
}

.tabela tr:nth-child(even) {
    background: #fcfcfc;
}

.tabela th:first-of-type,
.tabela td:first-of-type {
	text-align: left;
}

