/* Tabela */

.tabela {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 7pt;
}

.dados {
    border-collapse: collapse;
    width: 100%;
}

.dados th, td {
	padding-left: 1mm;
	padding-right: 1mm;
    font-family: "Courier New", Courier, monospace;
}

.dados th {
    border-bottom: 1px solid black !important;
    background: #fcfcfc;
	font-weight: bold;
	text-align: left;
}

.dados td {
	padding-top: 1mm;
	text-align: left;
}

.dados tr:nth-child(even) {
    background: #fcfcfc;
}

.totais th,
.totais td {
    border-bottom: 0px !important;
}

.totais th {
    font-weight: bold;
    text-align: left;
}

.totais tr:nth-child(odd) {
    text-align: right !important;
}

.rodape {
    width: 100%;
}

.totais th {
    border-bottom: 1px solid black !important;
}

.rodape .totais {
    display: block;
    float: right;
}

.rodape .auxiliar{
    width: 50%
    display: block;
}


/* Fim tabela */